@charset "UTF-8"; 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:none}
:focus{outline:none}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:none;font-variant:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
code,kbd,samp,tt{font-size:100%}
input,button,textarea,select{*font-size:100%}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;	vertical-align:baseline}
:link,:visited ,ins,a{text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a, a:visited {color: #7E6154;}
h1,h2,h3,h4,h5,h6 {display: block;margin:0.67em 0px;}
/***** Reset *****/

body {
	width:100%;
	height:100%;
	font-family: Helvetica,"Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
	font-size:12px;
	background:#382B25 url(../images/bg.jpg) fixed repeat;
}
header {
	height:300px;
	width:600px;
	background:#2F2D37 url(../images/header_bg.jpg) no-repeat;
	margin:0 auto;
	
	display:block;
	position:relative;
}
#avatar {
	padding-top: 60px;
	position: relative;
	top:0px;
	left:0px;
}

header footer {
	position: relative;
	margin: 0 auto;
	z-index: 0;
	margin-top: 130px;
	text-align: center;
	color: #7E6154;
}
header footer h3 {
	color:#B89E94;
}

/*头部文字*/
header h1 a {
	letter-spacing: 5px;
	font-size: 32px;
	text-align: center;
	margin:40px 0 5px;
	text-decoration: none;
	display: block;
	color:#DACCC7;
}

.cover {
	width: 136px;
	height: 136px;
	position: absolute;
	left: 115px;
	top: 26px;
	background: url("../images/avatar_bg.png") no-repeat center top;
	z-index:999px;
	display:block;
}
a.cover {
	background:none;
}
img.cover {
	width: 64px;
	height: 64px;
	top: 62px;
	left: 150px;
}

/*首页导航 功能*/
nav{
	width:600px;
	margin:0 auto;
	text-align:left;
	font-size:14px;
	margin-top:50px;
	overflow:hidden;
}
nav ul {
	float:left;
	margin-left:-3px;
}
nav li {
	display: inline-block;
	margin:0 3px;
}

/*模式切换*/
#tab {
	width:100px;
	text-align:right;
	display:block;
	float:right;
	margin-right: -3px;
}
#tab a {
	margin:0 3px;
}

/*搜索*/
#search {
	width:25px;
	height:25px;
	overflow:hidden;
	margin:0 auto;
}
#s {
	width:100px;
	width:0px;
	height:25px;
	border:none;
	float:left;
}
#submit {
	width:25px;
	height:25px;
	border:none;
	float:left;
	background:transparent;
}
#search:hover #submit {
	background:#CCC;
}






/*
nav,section {
	width:400px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
nav li a {
	width: 150px;
	padding:0 25px;
	text-align:center;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	height: 30px;
	display: inline-block;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	letter-spacing: 3px;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.11);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6);
	font-size: 14px;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}
*/

/*文章列表*/
section {
	width:600px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
section article {
	padding:10px 40px 40px 40px;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
	color: #555;
	overflow: hidden;
	word-wrap: break-word;
}
section article h4 a {
	font-size: 18px;
	margin: 5px 0;
	line-height: 26px;
	margin-top: 15px;
	color: #555;
}
section article p {
	line-height: 18px;
	margin-top:10px;
}

/*首页文章列表*/
article:nth-child(even) {
	border-top: 1px solid #E0DDDA;
	background: #E4E1DE url(../images/post_odd.png) repeat-x 0 0;
}
article:nth-child(odd) {
	border-top: 1px solid #CAC6C1;
	background: #E4E1DE url(../images/post_even.png) repeat-x 0 0;
}


/*翻页页码*/
.pagination {
	width:600px;
	height:200px;
	margin:0 auto;
	padding-top:20px;
	margin-bottom:20px;
	overflow: hidden;
	display:block;
	background:#2F2D37 url(../images/header_bg.jpg) no-repeat;
	position:relative;
}
.wp-pagenavi {
	margin-left:2px;
	width: 398px;
	height: 25px;
	margin: 0 auto;
}
.pagination, .page-link {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*margin-top:5px;*/
}
.pagination .wp-pagenavi a:hover, .pagination .wp-pagenavi span.current, .page-link .wp-pagenavi a:hover, .page-link .current {
	font-size:12px;
	text-decoration: none;
	color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	background-color: #388CDE;
	border-color:#388CDE;
	font-weight:normal;
}
 .page-link .wp-pagenavi a span.current,.page-link .wp-pagenavi span {
	text-decoration: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	background: #DADDDD;
	padding:0;
	width: 40px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float:left;
	color: #00A9FF;
	border-bottom: #388CDE 1px solid;
	margin: 10px 5px 10px 0;
 }
 .page-link .wp-pagenavi a span:hover {
 	font-size:12px;
	text-decoration: none;
	color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	background-color: #388CDE;
	border-color:#388CDE;
	font-weight:normal;
 }
.pagination .wp-pagenavi a, .pagination .wp-pagenavi span {
	border:none;
	padding:0;
	margin:0;
	width: 35px;
	height: 25px;
	font-size:12px;
	line-height: 25px;
	text-align: center;
	margin-right: 5px;
	display: block;
	float: left;
	color: #00A9FF;
	position: relative;
	border-bottom: #388CDE 1px solid;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}
.pagination .wp-pagenavi .pages {
	margin-left:2px;
	display:block;
}
.wp-pagenavi a.last {
	margin-right:0px;
}
footer footer {
	position:absolute;
	bottom:5px;
	right:0px;
	color:#7E6154;
}