/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

/*.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	background:#ddd;
	color:#000;
	border:none;
	border-radius:5px;
	-moz-border-radius:5px;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background:#555;
	color:#fff;
}

.wp-pagenavi span.current {
	font-weight: bold;
}
*/

.wp-pagenavi{
	background:url(images/pagenavi.png) no-repeat scroll 0 0 transparent;
	line-height:29px;
	padding:0 12px;
}
.wp-pagenavi span, .wp-pagenavi a{
	color:#48C9EF;
	font-size:13px;
	font-weight:bold;
	padding:5px 8px 6px 0;
}
.wp-pagenavi span.current, .wp-pagenavi span.pages{
	color:#666;
}